.item-content-wraper {
  margin-left: 1rem;

  .item-content-card {
    padding: 16px;
    overflow-y: auto;
    height: calc(100vh - 116px);

    .item-content-title {
      width: 100%;
      display: flex;
      justify-content: space-between;

      .title {
        font-weight: bold;
        font-size: 2em;
      }

      button {
        height: min-content;
      }
    }
    .content-attachments-container {
      padding: 10px 0;

      .content-attachment-files {
        margin-top: 10px;
        display: flex;
        width: -webkit-fill-available;
        flex-wrap: wrap;

        .attachment-file {
          position: relative;
          width: 112px;
          height: 112px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #616161;
          border-radius: 5px;
          margin: 5px;
          img {
            width: 100%;
            height: 100%;
            border-radius: 5px;
            object-fit: cover;
          }

          .attachment-hover-container {
            position: absolute;
            border-radius: 5px;
            background-color: rgba($color: #000000, $alpha: 0.5);
            font-size: 10px;
            width: 112px;
            height: 112px;
            padding: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-end;

            .attachment-name {
              width: 92px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
            .attachment-size {
              display: flex;
              justify-content: space-between;
              width: 100%;
              align-items: center;
            }
          }
        }
      }
    }
    .card-description-textbox {
      padding: 4px;
      border-radius: 5px;
      min-height: 95px;
      word-break: break-word;
    }
  }
}
.dialog-photo {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
  img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
  }
}
