.card-component {
  .card-navbar-component {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .card-component-navbar-actions {
      display: flex;
      align-items: center;
    }
    .title-component {
      margin-bottom: 5px;
      .title {
        font-weight: bold;
        font-size: 2em;
      }
    }
  }
  .card-item {
    margin-top: -1px;
    background: inherit;
    border: 1px solid rgb(204, 204, 204);
    transition: margin 0.15s ease-in-out 0s;
    .card-item-container {
      cursor: pointer;
      .card-item-icons {
        padding: 5px;
        border-radius: 50%;
        width: auto;
        height: min-content;
      }
      .item-info-container {
        display: flex;
        margin-right: 10px;
        .item-icon {
          color: #fff;
          width: 24px;
          height: 24px;
        }
      }
    }
  }
  .card-item.expand {
    &:hover {
      background: inherit;
    }
    margin: 8px 0;
    transition: margin 0.15s ease-in-out 0s;
    box-shadow: rgba(37, 42, 49, 0.16) 0px 1px 4px 0px,
      rgba(37, 42, 49, 0.12) 0px 4px 8px 0px;
    border: none;
    border-radius: 5px;
    border: 1px solid rgb(204, 204, 204);
  }
  .card-description {
    .content-description-title {
      margin-left: 4px;
    }
  }
}
.card-item-content-wraper {
  margin-left: 1rem;
  .card-item-content {
    padding: 16px;
    overflow-y: auto;
    height: calc(100vh - 116px);
    .card-item-title-container {
      width: 100%;
      display: flex;
      justify-content: space-between;
      .title {
        font-weight: bold;
        font-size: 2em;
      }
      button {
        height: min-content;
      }
    }
    .content-attachments-container {
      padding: 10px 0;
      .content-attachment-files {
        margin-top: 10px;
        display: flex;
        width: -webkit-fill-available;
        flex-wrap: wrap;
        .badge-content {
          &:first-child {
            margin: 5px 5px 5px 0;
          }
          margin: 5px;
          .MuiAvatar-root {
            width: 72px;
            height: 72px;
          }
          .MuiBadge-anchorOriginBottomRightCircle {
            right: 5%;
            bottom: 5%;
          }
        }
      }
    }
    .card-description-textbox {
      padding: 4px;
      border-radius: 5px;
      min-height: 95px;
      word-break: break-word;
    }
  }
}

.light {
  .card-item {
    &:hover {
      background: rgb(239, 242, 245);
    }
  }
  .card-item-selected {
    background: rgb(239, 242, 245);
  }
  .card-description-textbox {
    &:hover {
      background: rgb(239, 242, 245);
    }
  }
}
.dark {
  .card-item {
    &:hover {
      background: #616161;
    }
  }
  .card-item-selected {
    background: #616161;
  }
  .card-description-textbox {
    &:hover {
      background: #616161;
    }
  }
}

input[type="file"] {
  display: none;
}
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}
#tags-filled {
  min-width: auto;
}
